<section id="other_levels">
	<%= render 'active_lists' %>
</section>


<section id="level_data">
	<h1><%= @niveau.titre %></h1>
	<%= render 'form' %>
</section>

<section id="level_toolbar">
	<b><%= link_to 'Serializer', serialize_niveau_path(@niveau) %></b> |
	<%= link_to 'Retour a la liste', niveaus_path %>
</section>

<section id="level_editor">
	<%= render 'editor' %>
</section>


