<p id="notice"><%= notice %></p>

<p>
  <b>Numero:</b>
  <%= @niveau.numero %>
</p>

<p>
  <b>Titre:</b>
  <%= @niveau.titre %>
</p>


<%= link_to 'Edit', edit_niveau_path(@niveau) %> |
<%= link_to 'Back', niveaus_path %>
